solution-19_vendedor.json
[{"id":"effc7ce4.64949","type":"tab","label":"Chatbot_Vendedor","disabled":false,"info":""},{"id":"ba1d4601.b4eae8","type":"chatbot-telegram-receive","z":"effc7ce4.64949","bot":"95b91aca.76b028","botProduction":"95b91aca.76b028","x":130,"y":220,"wires":[["a2c5fb00.6a31c8","52417a74.5612a4"]]},{"id":"96ecd034.7df6d","type":"chatbot-telegram-send","z":"effc7ce4.64949","bot":"95b91aca.76b028","botProduction":"95b91aca.76b028","track":true,"passThrough":false,"outputs":1,"x":750,"y":220,"wires":[["c59cbed5.82b05","a2c5fb00.6a31c8"]]},{"id":"fd79b5a3.12f1d8","type":"chatbot-ask","z":"effc7ce4.64949","name":"","buttons":[{"type":"keyboardButton","label":"Não"},{"type":"keyboardButton","label":"Sim"}],"message":"Em meio a pandemia causada pelo Covid-19, muitos segmentos da sociedade estão sendo afetados e passando por imensas dificuldades. \n\nPor motivo do isolamento social imposto como forma de preservar a saúde de todos, eu fui criado. \n\nMinha funcionalidade primária é auxiliá-lo a oferecer seus produtos para a comunidade, incentivando o comércio local para que possa superar essa crise. \n\nPor isso gostaria de ajudar a organizar seus pedidos, e inclusive anotá-los para você, para que consiga focar em outras atividades. \n\n#ficaemcasa #valorizeopequeno\n \nVocê já possuí sua loja cadastrada, para que possa apoiar esta causa?","x":530,"y":220,"wires":[["96ecd034.7df6d"]]},{"id":"52417a74.5612a4","type":"chatbot-rules","z":"effc7ce4.64949","name":"","rules":[{"type":"command","command":"/start"}],"outputs":1,"x":330,"y":220,"wires":[["fd79b5a3.12f1d8"]]},{"id":"c59cbed5.82b05","type":"switch","z":"effc7ce4.64949","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"Não","vt":"str"},{"t":"eq","v":"Sim","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":220,"wires":[["a0034a70.1d86d8"],["82c0dbcf.3b7a48"]]},{"id":"a0034a70.1d86d8","type":"chatbot-message","z":"effc7ce4.64949","name":"","message":[{"message":"Entendido! Vamos começar seu cadastro!\nQual é o nome da loja?\n"}],"language":"","x":1110,"y":180,"wires":[["48db90d2.7464d"]]},{"id":"82c0dbcf.3b7a48","type":"chatbot-message","z":"effc7ce4.64949","name":"","message":[{"message":"Excelente!"}],"language":"","x":1110,"y":260,"wires":[["faeb8421.f04a48"]]},{"id":"a2c5fb00.6a31c8","type":"debug","z":"effc7ce4.64949","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.content","targetType":"msg","x":1330,"y":60,"wires":[]},{"id":"48db90d2.7464d","type":"chatbot-telegram-send","z":"effc7ce4.64949","bot":"95b91aca.76b028","botProduction":"95b91aca.76b028","track":true,"passThrough":false,"outputs":1,"x":1310,"y":180,"wires":[["ae26f238.7f58e","a2c5fb00.6a31c8"]]},{"id":"faeb8421.f04a48","type":"chatbot-telegram-send","z":"effc7ce4.64949","bot":"95b91aca.76b028","botProduction":"95b91aca.76b028","track":true,"passThrough":false,"outputs":1,"x":1310,"y":260,"wires":[["bb7524ab.6f3288"]]},{"id":"ae26f238.7f58e","type":"template","z":"effc7ce4.64949","name":"","field":"payload.content","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Ok, sua loja é: {{payload.content}}!\n\nAgora, qual é o CEP da loja?","output":"str","x":1540,"y":180,"wires":[["40c6f228.d695fc"]]},{"id":"40c6f228.d695fc","type":"chatbot-telegram-send","z":"effc7ce4.64949","bot":"95b91aca.76b028","botProduction":"95b91aca.76b028","track":true,"passThrough":false,"outputs":1,"x":1750,"y":180,"wires":[["a2c5fb00.6a31c8","21556189.b7dc5e"]]},{"id":"bb7524ab.6f3288","type":"chatbot-message","z":"effc7ce4.64949","name":"","message":[{"message":"Olá {{firstName}}, como posso te ajudar?\n\n/NovoProduto\n/NovoPagamento\n/NovaEntrega\n/ApagarProduto\n/ApagarPagamento\n/ApagarEntrega\n\n/Ajuda"}],"language":"","x":370,"y":440,"wires":[["5e4caf4c.9fbbc"]]},{"id":"5e4caf4c.9fbbc","type":"chatbot-telegram-send","z":"effc7ce4.64949","bot":"95b91aca.76b028","botProduction":"95b91aca.76b028","track":true,"passThrough":false,"outputs":1,"x":540,"y":440,"wires":[["c6093de.b4b25c","a2c5fb00.6a31c8"]]},{"id":"21556189.b7dc5e","type":"template","z":"effc7ce4.64949","name":"","field":"payload.content","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Ok, CEP é: {{payload.content}}!\n\nQual o número neste endereço? \nInsira o complemento também, caso exista!","output":"str","x":2020,"y":180,"wires":[["5b5dd049.2ce44"]]},{"id":"5b5dd049.2ce44","type":"chatbot-telegram-send","z":"effc7ce4.64949","bot":"95b91aca.76b028","botProduction":"95b91aca.76b028","track":true,"passThrough":false,"outputs":1,"x":2240,"y":180,"wires":[["a2c5fb00.6a31c8","b9ddbb87.f090e8"]]},{"id":"b9ddbb87.f090e8","type":"chatbot-message","z":"effc7ce4.64949","name":"","message":[{"message":"Loja cadastrada com sucesso! Por favor, faça o cadastro das formas de pagamento aceitas, métodos de retirada e produtos no menu!"}],"language":"","x":2500,"y":180,"wires":[["bb7524ab.6f3288"]]},{"id":"c6093de.b4b25c","type":"chatbot-rules","z":"effc7ce4.64949","name":"","rules":[{"type":"command","command":"/NovoProduto"},{"type":"command","command":"/NovoPagamento"},{"type":"command","command":"/NovaEntrega"},{"type":"command","command":"/Ajuda"},{"type":"catchAll"}],"outputs":5,"x":750,"y":520,"wires":[["61d4e72b.9a2a48"],[],[],[],["263ebf27.e15c8"]]},{"id":"263ebf27.e15c8","type":"chatbot-message","z":"effc7ce4.64949","name":"","message":[{"message":"Desculpe-me, não consegui entender o que deseja"}],"language":"","x":930,"y":400,"wires":[["d297ddf1.c1307"]]},{"id":"d297ddf1.c1307","type":"chatbot-telegram-send","z":"effc7ce4.64949","bot":"95b91aca.76b028","botProduction":"95b91aca.76b028","track":true,"passThrough":false,"outputs":1,"x":1170,"y":400,"wires":[["bb7524ab.6f3288"]]},{"id":"61d4e72b.9a2a48","type":"template","z":"effc7ce4.64949","name":"","field":"payload.content","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Vamos lá! Irei te guiar para um novo produto.\nPode, por favor, me informar qual a descrição do produto?","output":"str","x":940,"y":460,"wires":[["fded7c9d.5e527"]]},{"id":"fded7c9d.5e527","type":"chatbot-telegram-send","z":"effc7ce4.64949","bot":"95b91aca.76b028","botProduction":"95b91aca.76b028","track":true,"passThrough":false,"outputs":1,"x":1170,"y":460,"wires":[["28e6ff6a.956ef"]]},{"id":"28e6ff6a.956ef","type":"template","z":"effc7ce4.64949","name":"","field":"payload.content","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Pode, me enviar uma foto da {{payload.content}}?\n\nCaso queira pular esta etapa, digite \"Não\".","output":"str","x":1400,"y":460,"wires":[["7ad6dd60.3f9164"]]},{"id":"7ad6dd60.3f9164","type":"chatbot-telegram-send","z":"effc7ce4.64949","bot":"95b91aca.76b028","botProduction":"95b91aca.76b028","track":true,"passThrough":false,"outputs":1,"x":1630,"y":460,"wires":[["659d426f.f4f56c"]]},{"id":"659d426f.f4f56c","type":"template","z":"effc7ce4.64949","name":"","field":"payload.content","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"E qual o valor deste produto?","output":"str","x":2040,"y":460,"wires":[["4bd9a6a9.d89298"]]},{"id":"4bd9a6a9.d89298","type":"chatbot-telegram-send","z":"effc7ce4.64949","bot":"95b91aca.76b028","botProduction":"95b91aca.76b028","track":true,"passThrough":false,"outputs":1,"x":2270,"y":460,"wires":[["dcc105e5.2f2b18"]]},{"id":"dcc105e5.2f2b18","type":"template","z":"effc7ce4.64949","name":"","field":"payload.content","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Por último, em qual categoria ele se encaixa? \n\n/Alimento\n/Vestuario","output":"str","x":2500,"y":460,"wires":[["44c275a8.70782c"]]},{"id":"44c275a8.70782c","type":"chatbot-telegram-send","z":"effc7ce4.64949","bot":"95b91aca.76b028","botProduction":"95b91aca.76b028","track":true,"passThrough":false,"outputs":1,"x":2730,"y":460,"wires":[["bb7524ab.6f3288"]]},{"id":"95b91aca.76b028","type":"chatbot-telegram-node","z":"","botname":"S19V_bot","usernames":"","providerToken":"","polling":"1000","store":"","log":"","debug":false,"webHook":"","connectMode":"polling"}]