solution-19_cliente.json
[{"id":"2322702e.2ac5b","type":"tab","label":"Chabot_Client","disabled":false,"info":""},{"id":"1dfd9d73.3dadd3","type":"chatbot-telegram-send","z":"2322702e.2ac5b","bot":"6c2c2564.3f46bc","botProduction":"6c2c2564.3f46bc","track":true,"passThrough":true,"outputs":1,"x":550,"y":600,"wires":[["4e90f9ae.a3bbb8"]]},{"id":"1c3421b1.76a9fe","type":"chatbot-message","z":"2322702e.2ac5b","name":"msg_teste","message":[{"message":"Os pequenos negócios da região estão dividos pelas categorias de seus produtos.\n\nAlimentos: doces, salgados, almoços, além de bebidas, etc.\n\nVestuário: roupas, acessórios, calçados, etc.\n\nEletrônicos: celulares, computadores, eletrodomésticos, etc.\n\nLimpeza: álcool em gel, sabonete, detergente, etc.\n\nOutros: demais áreas que não se enquadram nas anteriores.\n\nEscolha uma das opções acima, clicando no botão com o nome da área desejada.\n\nObservação, caso você já saiba qual o nome da loja que está procurando, basta digitar e enviá-lo."}],"language":"","x":550,"y":540,"wires":[["1dfd9d73.3dadd3"]]},{"id":"bd7fbd79.ae82f","type":"chatbot-message","z":"2322702e.2ac5b","name":"txt_introducao","message":[{"message":"Olá {{firstName}} :smile:\n\nEm meio a pandemia causada pelo Covid-19, muitos segmentos da sociedade estão sendo afetados e passando por imensas dificuldades. Por motivo do isolamento social imposto como forma de preservar a saúde de todos, eu fui criado. \n\nMinha funcionalidade primária é auxiliá-lo a encontrar produtos oferecidos pelos membro de sua comunidade, para que incentive o mercado local e ajude o pequeno empresário a superar essa crise. \n\nPor isso lhe apresentarei diversas opções de lojas e produtos, para que possa conhecer sua região e realizar sua comprar na segurança de seu lar. Vamos apoiar a causa? \n\n#ficaemcasa #valorizeopequeno\n"}],"language":"","x":550,"y":200,"wires":[["9fadca7e.bfc668"]]},{"id":"4e90f9ae.a3bbb8","type":"chatbot-ask","z":"2322702e.2ac5b","name":"","buttons":[{"type":"keyboardButton","label":"Alimentos"},{"type":"newline"},{"type":"keyboardButton","label":"Vestuário"},{"type":"newline"},{"type":"keyboardButton","label":"Eletrônicos"},{"type":"newline"},{"type":"keyboardButton","label":"Limpeza"},{"type":"newline"},{"type":"keyboardButton","label":"Outros"},{"type":"newline"},{"type":"keyboardButton","label":"Precisa de ajuda?"}],"message":"Clique em uma das areas abaixo ou digite o nome da loja desejada:","x":540,"y":360,"wires":[["7c9917a2.268178"]]},{"id":"4f5533dc.66e86c","type":"mysql","z":"2322702e.2ac5b","mydb":"9c7e2f17.edb16","name":"","x":1230,"y":360,"wires":[["efd07fa4.9e0eb"]]},{"id":"ea32484d.391618","type":"function","z":"2322702e.2ac5b","name":"select_alimentos","func":"msg.topic=\"SELECT loja FROM vendedores\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1030,"y":340,"wires":[["4f5533dc.66e86c"]]},{"id":"7c9917a2.268178","type":"chatbot-telegram-send","z":"2322702e.2ac5b","bot":"6c2c2564.3f46bc","botProduction":"6c2c2564.3f46bc","track":true,"passThrough":false,"outputs":1,"x":540,"y":440,"wires":[["e845ca1a.312058"]]},{"id":"9fadca7e.bfc668","type":"chatbot-telegram-send","z":"2322702e.2ac5b","bot":"6c2c2564.3f46bc","botProduction":"6c2c2564.3f46bc","track":true,"passThrough":true,"outputs":1,"x":540,"y":280,"wires":[["4e90f9ae.a3bbb8"]]},{"id":"efd07fa4.9e0eb","type":"function","z":"2322702e.2ac5b","name":"Function1","func":"var teste = \"\";\nvar lojas =  msg.payload;\nvar i = 0;\n\nfor (var obj of lojas){\n    \n    teste += (\"/\"+obj.loja+\"\\n\").split(\" \").join(\"...\");\n    \n}\n\nmsg.teste = teste;\nreturn msg;","outputs":1,"noerr":0,"x":1420,"y":300,"wires":[["4d7c2288.c4296c"]]},{"id":"4d7c2288.c4296c","type":"change","z":"2322702e.2ac5b","name":"Como está o tempo?","rules":[{"t":"set","p":"payload.chatId","pt":"msg","to":"originalMessage.chat.id","tot":"msg"},{"t":"set","p":"payload.type","pt":"msg","to":"message","tot":"str"},{"t":"set","p":"payload.content","pt":"msg","to":"teste","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1555,"y":300,"wires":[["d29ae16a.523d5"]],"l":false},{"id":"74c60c6e.e1c654","type":"function","z":"2322702e.2ac5b","name":"select_vestuario","func":"msg.topic=\"SELECT loja FROM vendedores\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1040,"y":420,"wires":[["4f5533dc.66e86c"]]},{"id":"a89e1968.890788","type":"function","z":"2322702e.2ac5b","name":"select_produtos","func":"msg.topic=\"SELECT descricao, preco FROM produtos;\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":540,"y":740,"wires":[["c6974eb8.e307e"]]},{"id":"c6974eb8.e307e","type":"mysql","z":"2322702e.2ac5b","mydb":"9c7e2f17.edb16","name":"","x":790,"y":740,"wires":[["8a1d873c.03a4d8"]]},{"id":"8a1d873c.03a4d8","type":"function","z":"2322702e.2ac5b","name":"Function2","func":"var teste = \"\";\nmsg.produtos =  msg.payload;\nmsg.id_produto = 0\nvar i = 0;\n\nfor (var obj of msg.produtos){\n    \n    teste += obj.descricao+\"\\n\"+obj.preco+\"\\n\"+\n    \"/\"+i+\"_comprar\"+\"\\n\\n\";\n   \n   i+=1;\n}\n\nmsg.teste = teste;\n\nmsg.final = \"\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":740,"wires":[["bb50a443.21d178"]]},{"id":"bb50a443.21d178","type":"change","z":"2322702e.2ac5b","name":"Como está o tempo?","rules":[{"t":"set","p":"payload.chatId","pt":"msg","to":"originalMessage.chat.id","tot":"msg"},{"t":"set","p":"payload.type","pt":"msg","to":"message","tot":"str"},{"t":"set","p":"payload.content","pt":"msg","to":"teste","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1175,"y":740,"wires":[["bc3ae31b.3376f","8f0f52fc.bffcf"]],"l":false},{"id":"bc3ae31b.3376f","type":"telegram sender","z":"2322702e.2ac5b","name":"","bot":"db3d43ac.ee4c5","x":1350,"y":660,"wires":[["3a2e95ed.b5b2ca"]]},{"id":"d29ae16a.523d5","type":"telegram sender","z":"2322702e.2ac5b","name":"","bot":"db3d43ac.ee4c5","x":970,"y":580,"wires":[["d2e9130.63b10f"]]},{"id":"7ab1a68f.dbf378","type":"chatbot-telegram-receive","z":"2322702e.2ac5b","bot":"6c2c2564.3f46bc","botProduction":"6c2c2564.3f46bc","x":550,"y":100,"wires":[["bd7fbd79.ae82f"]]},{"id":"d2e9130.63b10f","type":"chatbot-telegram-send","z":"2322702e.2ac5b","bot":"6c2c2564.3f46bc","botProduction":"6c2c2564.3f46bc","track":true,"passThrough":false,"outputs":1,"x":1200,"y":560,"wires":[["a89e1968.890788"]]},{"id":"8f0f52fc.bffcf","type":"debug","z":"2322702e.2ac5b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1290,"y":840,"wires":[]},{"id":"e845ca1a.312058","type":"switch","z":"2322702e.2ac5b","name":"condicional_menu_inicial","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"Alimentos","vt":"str"},{"t":"eq","v":"Vestuário","vt":"str"},{"t":"eq","v":"Precisa de ajuda?","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":790,"y":420,"wires":[["ea32484d.391618"],["74c60c6e.e1c654"],["1c3421b1.76a9fe"]]},{"id":"3a2e95ed.b5b2ca","type":"chatbot-telegram-send","z":"2322702e.2ac5b","bot":"6c2c2564.3f46bc","botProduction":"6c2c2564.3f46bc","track":true,"passThrough":false,"outputs":1,"x":1570,"y":660,"wires":[["eb1271e8.46acd"]]},{"id":"9bb040ea.eed97","type":"chatbot-message","z":"2322702e.2ac5b","name":"Qual é o endereço de entrega?","message":[{"message":"Qual é o endereço de entrega?"}],"language":"","x":550,"y":920,"wires":[["d4391b18.b54c58","8f0f52fc.bffcf"]]},{"id":"d4391b18.b54c58","type":"chatbot-telegram-send","z":"2322702e.2ac5b","bot":"6c2c2564.3f46bc","botProduction":"6c2c2564.3f46bc","track":true,"passThrough":true,"outputs":1,"x":830,"y":920,"wires":[["936831d7.cbe69","8f0f52fc.bffcf"]]},{"id":"936831d7.cbe69","type":"function","z":"2322702e.2ac5b","name":"Function3","func":"var teste = \"\";\nvar id = parseInt(msg.final.substring(1,msg.final.length),32)\nvar desc = msg.produtos[id].descricao\nvar prec = msg.produtos[id].preco\nvar conf = \"Pedido:\\n\"+desc+\n                \"\\nR$\"+prec\n\nmsg.tchau = conf;\n\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":920,"wires":[["714b3783.44c8a8","8f0f52fc.bffcf"]]},{"id":"6df08168.a1c23","type":"chatbot-telegram-send","z":"2322702e.2ac5b","bot":"6c2c2564.3f46bc","botProduction":"6c2c2564.3f46bc","track":true,"passThrough":true,"outputs":1,"x":1570,"y":920,"wires":[["bd7fbd79.ae82f"]]},{"id":"eb1271e8.46acd","type":"change","z":"2322702e.2ac5b","name":"Como está o tempo?","rules":[{"t":"set","p":"final","pt":"msg","to":"payload.content","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":435,"y":860,"wires":[["9bb040ea.eed97"]],"l":false},{"id":"714b3783.44c8a8","type":"template","z":"2322702e.2ac5b","name":"Tchau","field":"tchau","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Obrigado pela compra!\nO Vendedor vai estar entrando em contato!: \n\n{{payload}} !","output":"str","x":1290,"y":920,"wires":[["6df08168.a1c23","8f0f52fc.bffcf"]]},{"id":"6c2c2564.3f46bc","type":"chatbot-telegram-node","z":"","botname":"S19C_bot","usernames":"","providerToken":"","polling":"1000","store":"","log":"","debug":false,"webHook":"","connectMode":"polling"},{"id":"9c7e2f17.edb16","type":"MySQLdatabase","z":"","name":"","host":"localhost","port":"3306","db":"solution-19","tz":""},{"id":"db3d43ac.ee4c5","type":"telegram bot","z":"","botname":"S19C_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]